.side-alien-b {
  position: absolute;
  z-index: 6;
}

#side-alien-b-body {
  position: absolute;
  height: 160px;
  width: 50px;
  background-color: lightcoral;
  border-radius: 45px;
  z-index: 6;
  overflow: hidden;
}

.side-alien-b-eye-line {
  position: absolute;
  height: 50px;
  width: 10px;
  background-color: lightcoral;
  border-radius: 5px;
}

#side-alien-b-left-eye-line {
  transform: rotate(30deg);
  margin-top: -30px;
  margin-left: 35px;
  z-index: 4;
}

#side-alien-b-right-eye-line {
  transform: rotate(-30deg);
  margin-top: -30px;
  margin-left: 0px;
  z-index: 6;
}

.side-alien-b-eye {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: lightcoral;
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
  z-index: 6;
}

#side-alien-b-left-eye {
  margin-top: -45px;
  margin-left: 35px;
}

#side-alien-b-right-eye {
  margin-top: -45px;
  margin-left: -20px;
}

.side-alien-b-ret-line {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  background-color: white;
  border-radius: 10px;
}

.side-alien-b-ret {
  position: absolute;
  height: 12px;
  width: 12px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: navy;
  border-radius: 5px;
}

/* #side-alien-b-mouth {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  margin-left: 25px;
  border-radius: 5px 0px 0px 40px;
  background-color: black;
  box-shadow: inset 4px 2px transparent;
  z-index: 6;
} */

#side-alien-b-left-arm {
  position: absolute;
  height: 10px;
  width: 45px;
  border-radius: 10px;
  background-color: lightcoral;
  margin-left: 40px;
  margin-top: 60px;
  transform: rotate(0deg);
  transform-origin: left;
  /* animation: 1s infinite alternate side-wave; */
  z-index: 4;
}

#side-alien-b-right-arm {
  position: absolute;
  height: 10px;
  width: 45px;
  background-color: lightcoral;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 60px;
  transform: rotate(20deg);
  transform-origin: left;
  /* animation: 1s infinite alternate side-wave; */
  z-index: 8;
}

#side-alien-b-right-leg {
  position: absolute;
  height: 50px;
  width: 10px;
  background-color: lightcoral;
  border-radius: 10px;
  margin-top: 130px;
  margin-left: 10px;
  z-index: 10;
}

#side-alien-b-left-leg {
  position: absolute;
  height: 70px;
  width: 10px;
  background-color: lightcoral;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 30px;
}

@keyframes side-wave {
  to {
    transform: rotate(-20deg);
  }
}
