.front-alien-f {
  margin-top: 50px;
  margin-left: -40px;
}


#front-alien-f-body {
  position: absolute;
  height: 90px;
  width: 140px;
  background-color: lightslategray;
  border-radius: 45px;
  z-index: 5;
}

#front-alien-f-eye {
  position: absolute;
  height: 50px;
  width: 65px;
  background-color: lightslategray;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 40px;
  padding: 8px;
  padding-left: 15px;
  z-index: 6;
}

#front-alien-f-ret-line {
  position: absolute;
  height: 34px;
  width: 34px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
}

#front-alien-f-ret {
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: black;
  border-radius: 50%;
}
/* 
#front-alien-f-mouth {
  position: absolute;
  height: 30px;
  width: 50px;
  background-color: black;
  border-radius: 5px 5px 40px 40px;
  margin-top: 40px;
  margin-left: 45px;
  z-index: 6;
} */

#front-alien-f-right-arm {
  position: absolute;
  height: 20px;
  width: 60px;
  background-color: lightslategray;
  border-radius: 10px;
  margin-left: -40px;
  margin-top: 20px;
  transform: rotate(20deg);
  transform-origin: right;
  z-index: 10;
  /* animation: 1s infinite alternate front-wave; */
}

#front-alien-f-left-arm {
  position: absolute;
  height: 20px;
  width: 60px;
  background-color: lightslategray;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 20px;
  transform-origin: left;
  transform: rotate(-20deg);
  /* animation: 1s infinite alternate-reverse front-wave; */
  z-index: 10;
}

#front-alien-f-right-leg {
  position: absolute;
  height: 60px;
  width: 20px;
  background-color: lightslategray;
  margin-top: 70px;
  margin-left: 90px;
  border-radius: 10px;
  z-index: 1;
}

#front-alien-f-left-leg {
  position: absolute;
  height: 60px;
  width: 20px;
  background-color: lightslategray;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 30px;
 
  z-index: 1;
}

@keyframes front-wave {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-20deg);
  }
}
