#touch-study {
    display: grid;
    grid-template-columns: [first] 25% [line2] 50% [line3] 25% [last];
    grid-template-rows: 100%;
}

#left-screen {
    grid-column: first / line2;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

#middle-screen {
    grid-column: line2 / line3;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

#right-screen {
    grid-column: line3 / last;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}