.side-alien-d {
  margin-top: 10px;
  margin-left: 6px;
}

#side-alien-d-body {
  position: absolute;
  height: 130px;
  width: 80px;
  margin-left: -10px;
  background-color: lightsteelblue;
  border-radius: 45px;
  z-index: 5;
  overflow: hidden;
}

.side-alien-d-eye-line {
  position: absolute;
  height: 50px;
  width: 10px;
  background-color: lightsteelblue;
  border-radius: 5px;
  transform: rotate(0deg);
  margin-top: -20px;
  margin-left: 25px;
  z-index: 4;
}

.side-alien-d-eye {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: lightsteelblue;
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
  z-index: 6;
  margin-top: -40px;
  margin-left: 15px;
}

.side-alien-d-ret-line {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  background-color: white;
  border-radius: 10px;
}

.side-alien-d-ret {
  position: absolute;
  height: 12px;
  width: 12px;
  margin-top: 5px;
  margin-left: 3px;
  background-color: royalblue;
  border-radius: 5px;
  padding: 3px;
}

.side-alien-d-ret-inner {
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 10px;
}

/* #side-alien-d-mouth {
  position: absolute;
  height: 30px;
  width: 40px;
  margin-top: 70px;
  margin-left: 40px;
  border-radius: 5px 0px 0px 40px;
  background-color: black;
  z-index: 6;
} */

#side-alien-d-left-arm {
  position: absolute;
  height: 15px;
  width: 60px;
  border-radius: 10px;
  background-color: lightsteelblue;
  margin-left: 50px;
  margin-top: 40px;
  transform: rotate(0deg);
  transform-origin: left;
  /* animation: 1s infinite alternate side-wave; */
  z-index: 4;
}

#side-alien-d-right-arm {
  position: absolute;
  height: 15px;
  width: 60px;
  background-color: lightsteelblue;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 40px;
  transform: rotate(20deg);
  transform-origin: left;
  /* animation: 1s infinite alternate side-wave; */
  z-index: 8;
}

#side-alien-d-right-leg {
  position: absolute;
  height: 50px;
  width: 15px;
  background-color: lightsteelblue;
  border-radius: 10px;
  margin-top: 110px;
  margin-left: 5px;
  z-index: 10;
}

#side-alien-d-left-leg {
  position: absolute;
  height: 70px;
  width: 15px;
  background-color: lightsteelblue;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 40px;
}

@keyframes side-wave {
  to {
    transform: rotate(-20deg);
  }
}
