.fc {
  height: 80vh;
}
/* 
.fc .fc-scrollgrid table tbody {
  cursor: pointer;
} */

.fc .fc-timegrid-col{
  background-color: #cbd5e04b;
}

.fc .fc-timegrid-slot-label {
  background-color: white;
}

.fc .fc-timegrid-col-events {
    display: flex;
    cursor: pointer;
}

/* .fc .fc-timegrid tbody {
  background-color: rgb(245, 245, 245);
}

.fc .fc-scroller {
  overflow-y: hidden;
  background-color: rgb(245, 245, 245);
  width: 100%;
}
 */

@media only screen and (max-width: 767px) {
  .fc .fc-toolbar {
    flex-direction: column;
  }
}
