#Josh .side-alien-pants {
  background-color: black;
}

#Yegor .side-alien-pants {
  background-color: blue;
}

#Brian .side-alien-b-pants {
  background-color: gold;
}

#Julia #side-alien-h-body-bot {
  background-color: papayawhip;
  border-radius: 5px 25px 25px 5px;
}

#David #side-alien-h-body-bot {
  background-color: olivedrab;
  border-radius: 5px 25px 25px 5px;
}

#Celine .side-alien-c-pants {
  background-color: rebeccapurple;
}


#Tracey .side-alien-c-pants {
  background-color: orange;
}

#Omar .side-alien-e-pants {
  background-color: rosybrown;
}

#Arpit .side-alien-e-pants {
  background-color: orchid;
}
